{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12"><h1>{{ corporation.name  }}</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">

            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% trans 'Total' %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ corporation.payments_count }} {% trans "Payments" %} </h2></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title"> {% trans "Rating" %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ corporation.rating }}</h2></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% trans 'Avg. of Extra Credit Days' %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ corporation.avg_extra_credit_days }} {% blocktrans %}days{% endblocktrans %}</h2></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% blocktrans %}Avg. of Credit Days{% endblocktrans %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ corporation.avg_credit_days }} {% blocktrans %}days{% endblocktrans %}</h2></span>
            </div>
        </div>
     </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12"><h1>{{ user.username  }}</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">

            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% blocktrans %}Total{% endblocktrans %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ count }} {% blocktrans %}Payments{% endblocktrans %}  </h2></span>
            </div>
        </div>
        <div class="col-sm-3">

            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% trans 'Count Late' %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ late_count }} {% blocktrans %}Payments{% endblocktrans %} </h2></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% trans 'Avg. of Extra Credit Days' %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ extra_credit_avg }} {% blocktrans %}days{% endblocktrans %}</h2></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% trans 'Avg. of Credit Days' %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ credit_avg }} {% blocktrans %}days{% endblocktrans %}</h2></span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
