{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12"><h1>{{ corporation.name  }}</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">

            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">סה"כ  </h3>
                </div>
                <span class="count"><h2 align="center">{{ corporation.payments_count }} {% trans "Payments" %} </h2></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% trans "Rating" %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ corporation.rating }}</h2></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">{% trans 'Avg. of Extra Credit Days' %}</h3>
                </div>
                <span class="count"><h2 align="center">{{ corporation.avg_extra_credit_days }} {% trans 'days' %}</h2></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading" dir="rtl">
                    <h3 class="panel-title">ממוצע אשראי לתשלום</h3>
                </div>
                <span class="count"><h2 align="center">{{ corporation.avg_credit_days }} {% trans 'days' %}</h2></span>
            </div>
        </div>
     </div>
</div>
{% endblock %}
